html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 8em;
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    text-shadow: 1px 1px 0 #eee;
}

p {
    font-family: Helvetica, sans-serif;
}
