html, body {
	margin: 0;
	padding: 0;
	background-color: #8c8;
}

@font-face{
	font-family: Precious;
	src: url(./fonts/precious.ttf);
}

.wrap {
	background-color: #fff;
	padding-bottom: 6em;
}

.content {
	max-width: 800px;
	margin: auto;
	padding: 2em;
}

p {
	font-size: 1.25em;
	font-family: Arial, Helvetica, Sans-serif;
	color: #5a5;
	margin-bottom: 2em;
}

h1 {
	font-family: Precious, Arial, Helvetica, Sans-serif;
	font-size: 6em;
	color: #8c8;
	text-align: center;
	text-shadow: 1px 1px 0px #5a5;
	line-height: 60%;
}

h2 {
	font-family: Arial, Helvetica, Sans-serif;
	color: #494;
	text-align: center;
	font-size: 1.5em;
}

h3 {
	font-family: Arial, Helvetica, Sans-serif;
	text-align: center;
	font-size: 0.75em;
}

.button {
	transition: all 0.2s;
	font-family: Arial, Helvetica, Sans-serif;
	max-width: 512px;
	margin: 0.5em auto;
	color: #fff;
	text-align: center;
	background-color: #8c8;
	border: 2px solid #8c8;
	padding: 1em;
	border-radius: 8px;
}

.button:hover {
	color: #8c8;
	background-color: #fff;
}

.button p, .button h2 {
	color: inherit;
	margin: 0;
}

.button h3 {
	color: inherit;
	margin: 0 0 0.5em;
}

.button > .content {
	width: auto;
	margin: 0;
	padding: 0;
}

.selected {
	color: #8c8;
	background-color: #fff;
}

.random {
	cursor: pointer;
}

.generate {
	cursor: pointer;
}

form {
	font-size: 1.25em;
	margin-top: 1em;
}

select {
	color: #8c8;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1em;
	border: 2px solid #8c8;
	border-radius: 4px;
	outline: none;
}

select option:checked {
	background: #dfd;
	color: #8c8;
}

option:hover{
	background: #8c8;
	color: #fff;
}

input[type="submit"] {
	transition: all 0.2s;
	font-family: Arial, Helvetica, Sans-serif;
	margin: 1em auto 0;
	color: #fff;
	text-align: center;
	background-color: #8c8;
	border: 2px solid #8c8;
	padding: 0.5em 1em;
	border-radius: 8px;
}

input[type="submit"]:hover {
	color: #8c8;
	background-color: #fff;
}

a, a:visited {
	transition: all 0.2s;
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #dfd;
}

.social {
	text-align: center;
	max-width: 800px;
	margin: auto;
}

.twitter {
	padding-top: 4px;
}

.footer {
	color: #494;
	padding-top: 1em;
	width: 100%;
	min-height: 64px;
}